@page "/projeto"

<MudText Typo="Typo.h4">Projeto - Criptografia RSA</MudText>
<br/>
<MudGrid>
    <a class="espaco" href="/projeto/chavepublica">
        <MudTooltip Text="Chave pública">
            <MudItem Class="carta">
                <div style="margin-left: auto; margin-right: auto; padding-right: 18px">
                    <MudIcon Style="color: white; margin-bottom: 14px; margin-right: 2px" Icon="@Icons.Filled.VpnKey"></MudIcon>
                    <MudIcon Style="color: white; transform: scale(1.9)" Icon="@Icons.Filled.Public"></MudIcon>
                </div>
            </MudItem>
        </MudTooltip>
    </a>
    <a class="espaco" href="/projeto/cripto">
        <MudTooltip Text="Criptografar">
            <MudItem Class="carta">
                <div style="margin-left: auto; margin-right: auto;">
                    <MudIcon Style="color: white; transform: scale(1.9)" Icon="@Icons.Filled.PrivateConnectivity"></MudIcon>
                </div>
            </MudItem>
        </MudTooltip>
    </a>
    <a class="espaco" href="/projeto/descripto">
            <MudTooltip Text="Descriptografar">
                <MudItem Class="carta">
                    <div style="margin-left: auto; margin-right: auto;">
                    <MudIcon Style="color: white; transform: scale(1.9)" Icon="@Icons.Filled.LockOpen"></MudIcon>
                    </div>
                </MudItem>
            </MudTooltip>
        </a>
</MudGrid>

@code{

    string path = "";
    
    async protected override void OnInitialized()
    {
        //base.OnInitialized();
        path = await ElectronNET.API.Electron.App.GetAppPathAsync();
        Console.WriteLine(path);
        await InvokeAsync(StateHasChanged);
    }

}